header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.app-brand{
    display: flex;
    align-items: center;
    padding-left: 46px;
    padding-top: 12px;
    column-gap: 7px;
}

.sidebar{
    display: flex;
    padding-right: 46px;
    padding-top: 12px;
}