header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.app-brand{
    display: flex;
    padding-left: 50px;
    padding-top: 20px;
    
}

.sidebar{
    display: flex;
    padding-right: 50px;
    padding-top: 20px;
}